/* rafting.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* Define CSS variables based on your color scheme */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
}

/* Apply styles to headings and paragraph elements */
h1, h2{
  font-family: 'Berkshire Swash', cursive;
  color: var(--text-color);
}
p {
  font-family: 'caveat', cursive;
}

/* Style social media links */
nav.sociallinks a {
  text-decoration: none;
}

/* Style hero container */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: var(--primary-color);
}

.hero article {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  text-align: center;
}

.hero article img {
  float: right;
  max-width: 200px; 
  margin: 0 0 20px 20px;
}

/* Style footer */
footer {
  text-align: center;
}

footer p {
  font-size: 0.8em;
  color: white;
}

nav a:hover{
  color: var(--text-color);
}

/* Main Content styles */
main {
  padding: 20px;
}

/* History Section styles */

.history-section{
  margin-top: 30px;
}
.history-section h2{
  font-family:'Berkshire Swash', cursive;
  font-size: xx-large;
  font-weight: 900;
}

.history-two{
  text-align: center;
  color: var(--primary-color);
}

.history{
  text-align: justify;
}  
/* Adventures Section styles */

.flex{
  display: flex;
}

.adventure-section h2{
  font-family: 'Berkshire Swash', serif;
  font-size: xx-large;
}
h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

figure {
  text-align: center;
  margin-bottom: 20px;
  
}

img {
  max-width: 100%;
  /* height: auto; */
}

figcaption {
  margin-top: 10px;
  font-style: italic;
  color: var(--text-color);
}

/* Footer styles */
footer {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-align: right;
}

.sociallinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sociallinks a {
  margin-left: 10px;
}

.sociallinks img {
  max-width: 30px; /* Adjust as needed */
}


/* Header styles using CSS Grid */
header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 15% auto; /* Added grid-template-columns property */
  align-items: center; /* Center align items vertically */
}

header img {
  max-width: 100px;
  padding-left: 90%;
}

header nav {
  display: flex;
  margin-bottom: 10px;
  padding-left: 30%;
}

header nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-weight: bold;
}


/*Apply styles to headings and paragragh elements here*/
h1,h2,p {
  font-family: 'ital', sans-serif;
  color: var(--text-color);
}
/*Main content styles*/
.main-content {
  padding: 20px;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-form h2 {
  color: #0e4b7f;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact-form label {
  margin-bottom: 5px;
  color: #333;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.contact-form button {
  background-color: steelblue ;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.contact-form button:hover {
  background-color: gray;
}
.home {
  display: flex;
}

